.main {
  width: 100%;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -0.03em;
    width: 738px;
    text-align: center;
    margin: 40px 0 160px;
    transition: font-size 500ms;
  }

  &__container {
    display: flex;
    gap: 140px;
  }

  &__content {
    width: 830px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
  }

  &__section {
    &::before {
      content: '';
      display: block;
      width: 64px;
      height: 3px;
      background-color: black;
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 125%;
    margin-bottom: 40px;
  }

  &__questions-list {
    list-style: none;
  }

  &__questions-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
    cursor: pointer;
  }

  &__question {
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 133%;
    max-width: 758px;
  }

  &__question-toggler {
    background: url('../../images/select.svg') no-repeat center;
    width: 16px;
    height: 6px;
    background-size: contain;
    align-self: center;
  }

  &__question-rotate-toggler {
    background: url('../../images/select_open.svg') no-repeat center;
    width: 16px;
    height: 6px;
    background-size: contain;
    align-self: center;
  }

  &__answer {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__wallets-list {
    list-style: none;
  }

  &__wallets-item:first-child {
    margin-top: 20px;
  }

  &__answer-info {
    margin: 20px 0;
  }

  &__answer-link {
    text-decoration: none;
    color: #2e55d3;
  }

  &__recommended-walets-list {
    list-style: none;
  }

  &__recommended-walets-item {
    margin-top: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 930px;
    height: 235px;
    background: #fff;
    border-radius: 20px;
    padding: 50px 0;
    margin-top: calc(129px - 40px);
    margin-bottom: 273px;
  }

  &__info-small-screen {
    display: none;
  }

  &__info-title {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 125%;
  }

  &__info-content {
    width: 600px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.03em;
  }

  &__info-link {
    color: #2e55d3;
  }

  &__bottom {
    width: calc(100% - 484px);
    max-width: calc(1920px - 484px);
    margin: auto;
    overflow: hidden;
    margin-bottom: 60px;
  }

  &__partners {
    display: flex;
    gap: 81px;
    flex-wrap: nowrap;
  }
}

@media (max-width: 1200px) {
  .main {
    &__title {
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      font-size: 56px;
      line-height: 110%;
    }

    &__container {
      width: calc(100% - 160px);
      display: block;
      align-self: center;
    }

    &__content {
      width: 100%;
    }

    &__info {
      width: 100%;
      height: 300px;
      border-radius: 0;
      margin-bottom: 91px;
    }

    &__bottom {
      width: calc(100% - 32px);
    }
  }
}

@media (max-width: 750px) {
  .main {
    &__container {
      width: calc(100% - 34px);
      display: block;
      align-self: center;
    }

    &__section {
      &::before {
        display: none;
      }
    }

    &__subtitle {
      font-size: 36px;
      line-height: 125%;
      margin-bottom: 40px;
    }

    &__question {
      font-size: 17px;
    }

    &__answer {
      font-size: 14px;
    }

    &__info {
      display: none;
    }

    &__info-small-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
      height: 300px;
      border-radius: 0;
      margin-bottom: 91px;
      background: #fff;
      padding: 50px 0;
      margin-top: calc(129px - 40px);
    }

    &__info-title {
      font-size: 28px;
      text-align: center;
    }

    &__info-content {
      width: 100%;
      padding: 0 34px;
    }
  }
}
