.nav {
  &__list {
    list-style: none;
    position: sticky;
    top: 20px;
  }

  &__item {
    margin-bottom: 32px;
    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000;

    &--active {
      color: #1c54d3;
    }
  }
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}